VITE_API_URL=
#Port that express lives on
EXPRESS_PORT=
#Port that postgres lives on
POSTGRES_PORT=
#Url to your frontend
VITE_ORIGIN=
#Postgres URL
#DATABASE_URL=postgres://postgres:root@db:5432/vimnotes
DATABASE_URL=
#Email and password for the default account 
ADMIN_EMAIL=
ADMIN_PASSWORD=
#Enable this if you want to allow anyone to sign up.
ALLOW_USER_SIGN_UPS=
#Run this command to generate: openssl rand -base64 32
BETTER_AUTH_SECRET=
