#Port that express lives on
EXPRESS_PORT=
#Url to your frontend
VITE_ORIGIN=
#Postgres URL. Use this exact string if you're using the postgres db from the vimnotes docker-compse 
DATABASE_URL=postgres://postgres:root@db:5432/vimnotes
#Email and password for the default account 
ADMIN_EMAIL=
ADMIN_PASSWORD=
#Enable this if you want to allow anyone to sign up. Otherwise, set this as false
ALLOW_USER_SIGN_UPS=
#Run this command to generate: openssl rand -base64 32
BETTER_AUTH_SECRET=
